[
  {
    "name": "test1",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1.config_generated"
  },
  {
    "name": "test1Formatted_plain",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1Formatted_plain.config_generated"
  },
  {
    "name": "test1Formatted_spaced",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1Formatted_spaced.config_generated"
  },
  {
    "name": "test1Formatted_pretty",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1Formatted_pretty.config_generated"
  },
  {
    "name": "test1Formatted_spaced_pretty",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1Formatted_spaced_pretty.config_generated"
  },
  {
    "name": "test1Formatted_spaced_pretty_pretty_tab",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test1Formatted_spaced_pretty_pretty_tab.config_generated"
  },
  {
    "name": "test2",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2.config_generated"
  },
  {
    "name": "test2Formatted_plain",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2Formatted_plain.config_generated"
  },
  {
    "name": "test2Formatted_spaced",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2Formatted_spaced.config_generated"
  },
  {
    "name": "test2Formatted_pretty",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2Formatted_pretty.config_generated"
  },
  {
    "name": "test2Formatted_spaced_pretty",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2Formatted_spaced_pretty.config_generated"
  },
  {
    "name": "test2Formatted_spaced_pretty_pretty_tab",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test2Formatted_spaced_pretty_pretty_tab.config_generated"
  },
  {
    "name": "test4",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test4.config_generated"
  },
  {
    "name": "test_cast",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_cast.config_generated"
  },
  {
    "name": "test_charcase",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_charcase.config_generated"
  },
  {
    "name": "test_compare",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_compare.config_generated"
  },
  {
    "name": "test_deep_copy",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_deep_copy.config_generated"
  },
  {
    "name": "test_double_serializer",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_double_serializer.config_generated"
  },
  {
    "name": "test_float",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_float.config_generated"
  },
  {
    "name": "test_int_add",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_int_add.config_generated"
  },
  {
    "name": "test_json_pointer",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_json_pointer.config_generated"
  },
  {
    "name": "test_locale",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_locale.config_generated"
  },
  {
    "name": "test_object_iterator",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_object_iterator.config_generated"
  },
  {
    "name": "test_null",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_null.config_generated"
  },
  {
    "name": "test_parse_int64",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_parse_int64.config_generated"
  },
  {
    "name": "test_parse",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_parse.config_generated"
  },
  {
    "name": "test_printbuf",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_printbuf.config_generated"
  },
  {
    "name": "testReplaceExisting",
    "files": [] , // The files are in the included tis.config
    "include": "tis/testReplaceExisting.config_generated"
  },
  {
    "name": "test_set_serializer",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_set_serializer.config_generated"
  },
  {
    "name": "test_set_value",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_set_value.config_generated"
  },
  {
    "name": "test_util_file",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_util_file.config_generated"
  },
  {
    "name": "test_visit",
    "files": [] , // The files are in the included tis.config
    "include": "tis/test_visit.config_generated"
  }
]
